# Use Docker BuildKit for faster builds

services:
  frontend:
    build:
      context: .
      dockerfile: ./client/Dockerfile.dev
    env_file:
      - ./client/.env.local
    volumes:
      - /app/client/node_modules
      - ./client:/app/client
      - ./packages/shared:/app/packages/shared
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - npm-cache:/root/.npm
    ports:
      - "3000:3000"

  backend:
    build:
      context: .
      dockerfile: ./server/Dockerfile.dev
    volumes:
      - /app/server/node_modules
      - ./server:/app/server
      - ./packages/shared:/app/packages/shared
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - npm-cache:/root/.npm
    env_file:
      - ./server/.env.local
    ports:
      - "8000:8000"

volumes:
  npm-cache:
